@tailwind base;
@tailwind components;
@tailwind utilities;

.__toast {
  position: relative;
  overflow: hidden;
}

/* Default fallback color (optional) */
.__toast-default::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #3b82f6;
  animation: toast-progress linear forwards;
  animation-duration: 3s;
}

.__toast-success::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #22c55e; /* Green */
  animation: toast-progress linear forwards;
  animation-duration: 3s;
}

.__toast-error::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ef4444; /* Red */
  animation: toast-progress linear forwards;
  animation-duration: 3s;
}

@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
